<p id="notice"><%= notice %></p>
<% @todo_lists.each do |todolist| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"> <%= link_to todolist.title, todolist %> </h2>
    <p class="todo_list_sub_title"> <%= todolist.description %> </p>
  </div>
<% end %>

<div class = "links">
  <%= link_to 'New Todo list', new_todo_list_path %>
</div>
